<div  id="blue" class="container" style="padding-top:10px;">
        <div class="row hide-on-med-and-down">
            <a href="./" class="brand-logo  blue-text text-darken-2" style="background-position: top left; padding: 25px 10px 0 25px;"><img src="public\images\vlusty-logo01.png" width="15%"></a>

            <div style=" float: right;margin-top: 25px;">
                <ul class="right" style="color:#ffa000;">
                    <a href="/" class="btn-flat waves-effect waves-purple blue-text">Home</a>&nbsp;
                    <a href="./services.html" class="btn-flat waves-effect waves-purple blue-text">Services</a>&nbsp;
                    <a href="./academy.html" class="btn-flat waves-effect waves-purple blue-text">IT Academy</a>&nbsp;
                    <a href="./blog.html" class="btn-flat waves-effect waves-purple blue-text">Blog</a>&nbsp;
                    <a href="./about" class="btn-flat waves-effect waves-purple blue-text">About Us</a>&nbsp;
                    <a href="./contact.html" class="btn-flat waves-effect waves-purple blue-text">Contact Us</a>&nbsp;
                </ul>
            </div>
        </div>
          <div class="transparent" role="navigation">
              <div class="hide-on-large-only nav-wrapper container">
                  <ul id="nav-mobile" class="side-nav center">
                      <li><a href="./index.html">Home</a></li>
                      <li><a href="./services.html">Services</a></li>
                      <li><a href="./academy.html">IT Academy</a></li>
                      <li><a href="./blog.html">Blog</a></li>
                      <li><a href="./about.html">About Us</a> </li>
                      <li><a href="./contact.html">Contact Us</a></li>
                  </ul>
                  <div class="row">
                      <div class="center">
                          <a href="./" class="brand-logo" style="background-position: top left; padding: 25px 10px 0 25px;"><img src="public\images\vlusty-logo01.png" alt="Vlusty" width="25%"></a>
                      </div>
                      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                  </div>
              </div>
          </div>
      </div>