<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
    <div class="">
        <header>
            <% include ../views/partials/header %>
        </header>

        <div class="container">
            <h1>Error</h1>
            <h3>
                <%= message %>
            </h3>
        </div>

        <footer class="" style="right: 0;bottom: 0;left: 0;position: absolute;">
            <% include ../views/partials/footer %>
        </footer>
    </div>
</body>
</html>

