body {
  background-color: #f9f9f9;
  min-width: 852px;
}

html, body, .block {
    height: 100%;
}

a {
  color: #00B7FF;
}

a:hover {
    background-color: #bbdefb;
}


.pin-top {
    position: fixed !important;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}